@mixin button {
		position: absolute;
		height: 100%;
		width: 50px;
		background: transparent;
		color: #aaaaaa;
		line-height: 500px;
}
@mixin bigger{
   -webkit-transition: width 2s; 
       -moz-transition: width 2s; /* Firefox < 16 */
        -ms-transition: width 2s; /* Internet Explorer */
         -o-transition: width 2s; /* Opera < 12.1 */
            transition: width 2s;
}